body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
}
:global(::-moz-selection) {
    /*background: #1372D8;*/
    color: #fff;
}
:global(::selection) {
    /*background: #1372D8;*/
    color: #fff;
}
/*分页样式*/

:global(.ant-pagination-item a) {
    /*color: #1372D8;*/
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
:global(a:hover) {
    color: #0080FF;
}
:global(a:active) {
    color: #0080FF;
}
:global(a:active, a:hover) {
    outline: 0;
    text-decoration: none;
}
:global(.ant-pagination-item:hover) {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-color: #1372D8;
}
:global(.ant-pagination-item:hover a) {
    /*color: #1372D8;*/
}
:global(.ant-pagination-item-active) {
    /*background-color: #1372D8;*/
    /*border-color: #1372D8;*/
    /*color: #fff;*/
}
:global(.ant-pagination-item-active:hover a) {
    /* color: #fff; */
}
:global(.ant-pagination-prev:hover),
:global(.ant-pagination-next:hover){
    /*border-color: #1372D8;*/
}
:global(.ant-pagination-prev:hover a),
:global(.ant-pagination-next:hover a) {
    /*color: #1372D8;*/
}
:global(.ant-pagination-options-quick-jumper input:hover) {
    border-color: #0080FF;
}
:global(.ant-pagination-options-quick-jumper input:focus) {
    border-color: #0080FF;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2);
}

:global(.ant-table) {
    font-size: 1.3rem;
    color: #666;
    position: relative;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}
:global(.ant-table table) {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
}
:global(.ant-table th) {
    background: #CED6DC;
    font-weight: bold;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    text-align: left;
}
:global(label) {
    font-size: 1.3rem;
}
:global(.ant-input,.ant-select),
:global(.ant-radio-group),
:global(.ant-radio),
:global(.ant-checkbox-wrapper) {
    font-size: 1.3rem;
}
:global(.ant-table-small table) {
    border: 1px solid #e9e9e9;
    padding: 0;
    border-radius: 2px 2px 0 0;
}
:global(.ant-table-footer) {
    padding: 10px 8px;
    background: #f7f7f7;
    position: relative;
    top: -1px;
    border-radius: 0 0 2px 2px;
}
:global(.ant-form-item) {
  font-size: 13px;
  /*margin-bottom: 12px;*/
  color: #666;
}
:global(.ant-table-thead>tr>th) {
  background-color: #CED6DC;
}

:global(.ant-table-small .ant-table-thead > tr > th) {
  padding: 10px 8px;
  background-color: #CED6DC;
  border-bottom: 1px solid #e9e9e9;
}
:global(.ant-table-small .ant-table-body > table) {
  border: 0;
  padding: 0px;
}

:global(.react-countdown-clock) {
  position: absolute;
  top: 10px;
  left: 10px;
}
:global(label) {
  font-weight: 500;
}
:global(.ant-form-item-label label) {
  color: #666;
}
